.content-box{
    width: 95%;
    // min-width: 1604px;
    // height: 200px;
    background: #F4F8FC;
    border: 1px solid #b9bbff;
    margin: 0 auto;
    margin-top: 12px;
    .content-header{
        width: 100%;
        height: 45px;
        background: #DAE4F8;
        .title{
            margin-left: 44px;
            line-height: 45px;
        }
    }
}
.content-main{
    padding: 22px 22px 34px 22px;
}
.all-table{
    margin-top: 18px;
    // border: 1px solid #d2d2d2;
}
.el-table .odd-row {
    background: #F8F8F8;
}
.el-table .all-table-th{
    background: #EEEEEF;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background: #ffffff;
    border: 1px solid #d5d5d5;
}
.el-pager, .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev{
    padding: 0 12px;
    height: 38px;
}
.el-pager .more::before{
    line-height: 38px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background: #53779d;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    min-width: 42px;
}
.el-pager li{
    height: 38px;
    line-height: 38px;
}
.filter-label{
    font-weight: 500;
  }
.f14{
    font-size: 14px;
}
.f20{
    font-size: 20px;
}
.f30{
    font-size: 30px;
}
.mt5{
    margin-top: 5px;
}
.ml5{
    margin-left: 5px;
}
.ml50{
    margin-left: 50px;
}
.ml30{
    margin-left: 30px;
}
.ml20{
    margin-left: 20px;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
.mb40{
    margin-bottom: 40px;
}
.mb20{
    margin-bottom: 20px;
}

.mr20{
    margin-right: 20px;
}
.red{
    color: red;
}
.el-dialog__header{
    padding: 0 0 0 20px;
    height: 44px;
    line-height: 44px;
    color: #ffffff;
    background: #4c5e79;
}
.el-dialog__title{
    line-height: 44px;
    color: #ffffff;
}
.el-dialog__headerbtn .el-dialog__close{
    color: #ffffff;
}
.el-dialog__headerbtn{
  top: 14px;
}
.el-scrollbar__wrap {
    overflow-x: hidden !important;
    margin-bottom: 0 !important;
}
.person-content{
    height: 60vh;
    overflow: hidden;
}
.person-info-title{
    line-height: 32px;
    padding: 0 16px;
    text-align: center;
    background: #90afda;
    display: inline-block;
    color: #333333;
    margin-bottom: 20px;
}
.person-table{
    border-collapse: collapse;
    /* margin: 0 auto; */
}
.person-table th,.person-table td{
    width: 128px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}
.el-button--primary{
    background: #4c5e79;
    border: none;
}
.el-button--primary:focus, .el-button--primary:hover{
    background: #7d8ba1;
}
.el-tabs__item.is-active{
    color: #ffffff;
    background: #53779D;
}
.key-words-box{
    margin-bottom: 20px;
}
.input-form{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 5px;
    background: transparent;
}
.upload-img-box{
    width: 148px;
    height: 148px;
    border-radius: 6px;
    background: #EEEEEF;
    overflow: hidden;
}
.upload-img{
    width: auto;
    height: 100%;
}
.person-content .el-input__inner{
    border: none;
}
.app-license-keyboard .license-container{
    width: 1280px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
.app-license-keyboard{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.app-license-keyboard font,.app-license-keyboard .icon{
    opacity: 0;
}
.app-license-keyboard > span{
    display: block;
    cursor: pointer;
}
.is-vacation{
    background: rgb(108, 219, 108) !important;
}
.img_bg_camera{
    background: #edeeee;
  }
.take-photo {
    font-size: 60px;
    cursor: pointer;
}
.el-button-group{
    display: none ;
}
.el-calendar__body{
    padding: 0 0 35px;
}
.el-calendar-table thead{
    background: #efefef;
}
table .el-input.is-disabled .el-input__inner{
    background-color: #fff;
}
//车牌背景
.app-license-keyboard .license-container{
    background: #fff !important;
}